h1 {
    color: blue;
    text-align: center;
    text-shadow: 5px -10px red;
    
}
.zahraArzani {
    color: #fff;
}
h2 {
    text-decoration: underline wavy blue;
}
.current-temperature {
    color: blue;
    font-size: 80px;
    font-weight: bolder;
    vertical-align: sub;

    
}
